<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen del Juego</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <i class="fas fa-compass"></i> Resumen
    </div>
    <h2>Tu puntuación: {{puntaje}}</h2>
    <h4>Lugares jugados:</h4>
    <div *ngFor="let lugar of sitios">
      <div>{{lugar}}</div>
    </div>
    <button style="margin-top: 30px" class="login-button" (click)="volver()">Volver a la pantalla inicial</button>
  </div>
</div>
</body>
</html>
