<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa con Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
</head>
<body>
<div class="score-box">
  Tu puntuación actual es: <span id="current-score">0</span>
</div>

<div class="card">
  <div class="card-header">
    <div class="game-container">
      <div class="photo-container">
        <img src="assets/Jerusalen/Jerusalen/jerusalen_1.png" alt="Lugar 3">
        <img src="assets/Jerusalen/Jerusalen/jerusalen_2.png" alt="Lugar 3">
        <img src="assets/Jerusalen/Jerusalen/jerusalen_3.png" alt="Lugar 3">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="mapa">
      <div #mapContainer style="height: 340px;"></div>
    </div>
  </div>
</div>

<button>
  Siguiente
</button>
</body>
</html>
