<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa con Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
</head>
<body>
<div class="score-box">
  Tu puntuación actual es: <span id="current-score">0</span>
</div>

<div class="card">
  <div class="card-header">
    <div class="game-container">
        <div class="envoltorio" *ngFor="let photo of ubicacionActual?.imagenes">
          <img class="img" [src]="photo" alt="Photo">
        </div>
    </div>
  </div>
  <div class="card-body">
    <div class="mapa">
      <div #mapContainer style="height: 300px;"></div>
    </div>
  </div>
</div>

<button (click)="revelacionCordenada()">
  Confirmar
</button>
</body>
</html>
