<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - GeoIgnacio</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <i class="fas fa-compass"></i> GeoIgnaciano
    </div>
    <h2>Bienvenido, Explorador!</h2>
    <p>Descubre a San Ignacio de Loyola con este desafío de geolocalización.</p>
    <div class="input-group">
      <i class="fas fa-user"></i>
      <input style="background-color: white; color: black" type="text" placeholder="Usuario">
    </div>
    <div class="input-group">
      <i class="fas fa-user"></i>
      <select style="background-color: white; color: black">
        <option value="" disabled selected>Seleccione nivel de dificultad</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <button class="login-button" routerLink="/juego">JUGAR!</button>
  </div>
</div>
</body>
</html>
